@import "../../styles/variables.css";

.goal-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-soft);
  overflow: hidden;
  cursor: pointer;
  transition: transform .25s ease, box-shadow .25s ease;
}

.goal-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-medium);
}

/* LEFT */
.goal-img-section {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.goal-img-section img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

/* RIGHT */
.goal-info {
  flex: 1;
  padding: 18px 22px;
}

.goal-info h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-main);
  margin-bottom: 4px;
}

.goal-info p {
  font-size: 13px;
  color: var(--text-sub);
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  border-radius: 5px;
  transition: width .4s ease;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-sub);
  margin-top: 6px;
}