.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  z-index: 1000;
  box-shadow: 0 0.1875rem 0.75rem rgba(0, 0, 0, 0.05); 
  border-bottom: 0.0625rem solid #000; 
}

.navbar-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3125rem 3.75rem; 
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.navbar-logo-img {
  height: 2.25rem; 
  object-fit: contain;
}

.navbar-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #111827;
  margin: 0;
  letter-spacing: 0.5px;
  text-align: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2.25rem; 
  z-index: 2;
}

.nav-icon {
  font-size: 2.0625rem; 
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-icon:hover {
  color: #00b7a5;
}