:root {
  --bg: #f8fafc;
  --text-main: #111827;
  --text-sub: #6b7280;
  --border: #d9d9d9;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.04);
}

/* ===== LAYOUT ===== */
.lg-container {
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lg-main {
  flex: 1;
  padding: 2rem 4rem;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ===== HEADER ===== */
.lg-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.lg-back {
  position: relative;
  background: transparent;
  border: 2px solid var(--theme);
  border-radius: 0.6rem;
  color: var(--theme);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.45rem 0.7rem 0.45rem 0.3rem;
  cursor: pointer;
  box-shadow: var(--shadow-soft);
  transition: all 0.25s ease;
  overflow: hidden;
  justify-self: start;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-top: 0.5rem;
}

.back-icon {
  stroke-width: 3;
}

.lg-back:hover {
  background: var(--theme);
  color: #fff;
}

/* shimmer effect */
/* .shimmer::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 250%;
  height: 250%;
  background: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.28),
    transparent 70%
  );
  opacity: 0;
  transition: opacity 0.18s ease;
  pointer-events: none;
}
.shimmer:hover::before {
  opacity: 1;
} */

/* ===== GRID ===== */
.lg-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1.2rem;
  align-items: flex-start;
}

/* ===== GLASS CARD ===== */
.glass-card {
  background: #fff;
  /* backdrop-filter: blur(14px) saturate(180%); */
  border-radius: 10px;
  box-shadow: var(--shadow-soft);
  border: 1px solid #d9d9d9;
}

/* ===== LEFT COLUMN ===== */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ===== TRANSACTION HISTORY ===== */
.history-panel {
  /* padding: 1.5rem; */
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-height: 120px;
}

/* ===== RIGHT COLUMN ===== */
.info-column {
  padding: 0 1.5rem 1.5rem;
}

.info-title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: var(--text-main);
}

.lg-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.lg-label {
  color: var(--text-main);
}

.lg-value {
  color: var(--text-main);
  font-weight: 600;
  text-align: right;
}

.divider {
  grid-column: span 2;
  height: 2px;
  background: var(--border);
  margin: 0 0 0.5rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
  .lg-main {
    padding: 1.5rem;
    padding-top: 90px;
  }

  .lg-header {
    margin-bottom: 0.75rem;
  }

  .left-column {
    gap: 1.5rem;
  }

  .lg-grid {
    grid-template-columns: 1fr;
    gap: 1.75rem;
  }
}