.status-badge {
	padding: 0.25rem 0rem;
	border-radius: 6px;
	font-size: 0.9rem;
	font-weight: 600;
	display: inline-block;
	text-transform: capitalize;
}

/* Transaction Status */
.status-success {
	/* background: #d1fae5; */
	color: #3DBF4A;
}

.status-pending {
	/* background: #fef3c7; */
	color: #FF954C;
}

.status-failed {
	/* background: #fee2e2; */
	color: #F94449;
}

/* User Status */
.status-active {
	color: #10b981;
}

.status-blocked {
	color: #ef4444;
}