.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-bottom: #000 1px solid;
}

.navbar-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo {
  font-size: 28px;
  color: #00b7a5;
  margin-right: 10px;
}

.navbar-title {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.5px;
}

.o1,
.o2 {
  color: #00b7a5;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-icon {
  font-size: 22px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-icon:hover {
  color: #00b7a5;
}

.notif-overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 900;
}