.splitbill-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.splitbill-container {
  background: white;
  border-radius: 10px;
  padding: 24px 28px;
  width: 943px;
  height: 664px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}

.transaction-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.transaction-type {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.transaction-modern-item {
  display: flex;
  justify-content: space-between;
}

.transaction-amount-modern {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Ratakan ke kanan */
  gap: 8px;
}

.bill-info {
  width: 741px;
  height: 241px;
  background: linear-gradient(to bottom, #6dddd0, #ffffff);
  border-radius: 10px;
  padding: 12px 16px;
  margin-bottom: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.bill-info p {
  margin: 6px 0;
  font-size: 15px;
}

.participant-section {
  border: 1px solid #9ae0d2;
  border-radius: 8px;
  padding: 12px 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.participant-header {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.participant-row {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 30px;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #f1f1f1;
}

.participant-row:last-child {
  border-bottom: none;
}

.participant-row input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  font-size: 14px;
  outline: none;
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #00bfa6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-participant-btn {
  margin-top: 20px;
  width: 100%;
  background: #cfd1d1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: not-allowed;
  font-weight: 600;
}
